<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.ListWeightMapper">
  <resultMap id="BaseResultMap" type="com.demo.model.ListWeight">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="yield_rate" jdbcType="REAL" property="yieldRate" />
    <result column="yield_money" jdbcType="REAL" property="yieldMoney" />
    <result column="transaction_number" jdbcType="REAL" property="transactionNumber" />
    <result column="net_worth" jdbcType="REAL" property="netWorth" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, activity_id, yield_rate, yield_money, transaction_number, net_worth, create_by, 
    create_time
  </sql>
  <select id="selectByExample" parameterType="com.demo.model.ListWeightExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_list_weight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_list_weight
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_list_weight
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.model.ListWeightExample">
    delete from tb_list_weight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.model.ListWeight">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_list_weight (activity_id, yield_rate, yield_money, 
      transaction_number, net_worth, create_by, 
      create_time)
    values (#{activityId,jdbcType=BIGINT}, #{yieldRate,jdbcType=REAL}, #{yieldMoney,jdbcType=REAL}, 
      #{transactionNumber,jdbcType=REAL}, #{netWorth,jdbcType=REAL}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.model.ListWeight">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_list_weight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="yieldRate != null">
        yield_rate,
      </if>
      <if test="yieldMoney != null">
        yield_money,
      </if>
      <if test="transactionNumber != null">
        transaction_number,
      </if>
      <if test="netWorth != null">
        net_worth,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="yieldRate != null">
        #{yieldRate,jdbcType=REAL},
      </if>
      <if test="yieldMoney != null">
        #{yieldMoney,jdbcType=REAL},
      </if>
      <if test="transactionNumber != null">
        #{transactionNumber,jdbcType=REAL},
      </if>
      <if test="netWorth != null">
        #{netWorth,jdbcType=REAL},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.model.ListWeightExample" resultType="java.lang.Long">
    select count(*) from tb_list_weight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_list_weight
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.activityId != null">
        activity_id = #{record.activityId,jdbcType=BIGINT},
      </if>
      <if test="record.yieldRate != null">
        yield_rate = #{record.yieldRate,jdbcType=REAL},
      </if>
      <if test="record.yieldMoney != null">
        yield_money = #{record.yieldMoney,jdbcType=REAL},
      </if>
      <if test="record.transactionNumber != null">
        transaction_number = #{record.transactionNumber,jdbcType=REAL},
      </if>
      <if test="record.netWorth != null">
        net_worth = #{record.netWorth,jdbcType=REAL},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_list_weight
    set id = #{record.id,jdbcType=BIGINT},
      activity_id = #{record.activityId,jdbcType=BIGINT},
      yield_rate = #{record.yieldRate,jdbcType=REAL},
      yield_money = #{record.yieldMoney,jdbcType=REAL},
      transaction_number = #{record.transactionNumber,jdbcType=REAL},
      net_worth = #{record.netWorth,jdbcType=REAL},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.model.ListWeight">
    update tb_list_weight
    <set>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="yieldRate != null">
        yield_rate = #{yieldRate,jdbcType=REAL},
      </if>
      <if test="yieldMoney != null">
        yield_money = #{yieldMoney,jdbcType=REAL},
      </if>
      <if test="transactionNumber != null">
        transaction_number = #{transactionNumber,jdbcType=REAL},
      </if>
      <if test="netWorth != null">
        net_worth = #{netWorth,jdbcType=REAL},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.model.ListWeight">
    update tb_list_weight
    set activity_id = #{activityId,jdbcType=BIGINT},
      yield_rate = #{yieldRate,jdbcType=REAL},
      yield_money = #{yieldMoney,jdbcType=REAL},
      transaction_number = #{transactionNumber,jdbcType=REAL},
      net_worth = #{netWorth,jdbcType=REAL},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>